<html>
<head><title></title></head>
<body>
<center>
<form action="addinfo" method="POST">
<table>
<h1>Registration Form</h1>
<tr>
	<td><font color="Red">Name:</font><input type="text" name="k1"></td>
</tr>
<tr>
	<td><font color="Red">Username:</font><input type="text" name="k2"></td>
</tr>
<tr>
	<td><font color="Red">Password:</font><input type="password" name="k3"></td>
</tr>
<tr>
	<td><font color="Red">Email:</font><input type="text" name="k4"></td>
</tr>
<tr>
	<td><font color="Red">Mob No:</font><input type="text" name="k5"></td>
</tr>
<tr>
	<td><button type="submit" value="login">Submit</button></td><br>
</tr>
</table>
</form>
</center>
</body>
</html> 