<html>
<head><title></title></head>
<body>
<table>
<form action="/updateuser" method="POST">
<tr>
<td><input type="hidden" name="k" value={{user1.id}}><br></td>
<td><input type="text" name="k1" value={{user1.name}}><br></td>
<td><input type="text" name="k2" value={{user1.username}}><br></td>
<td><input type="text" name="k3" value={{user1.password}}><br></td>
<td><input type="text" name="k4" value={{user1.email}}><br></td>
<td><input type="text" name="k5" value={{user1.mobno}}><br></td>
<td><button type="submit" value="Update">Update</button></td>
</tr>



</form>
</table>
</body>
</html>