<html>
<head><title></title></head>
<body>
<center>
<form action="login" method="POST">
<table>
<h1>Login Page</h1>

<tr>
	<td><font color="Red">Username:</font><input type="text" name="t1"></td>
</tr>
<tr>
	<td><font color="Red">Password:</font><input type="password" name="t2"></td>
</tr>
<tr>
	<td><button type="submit" value="login">Login</button>

	New User Register Here!<a href="registration"><button type="button" value="register">Register</button></a>
</tr>
</table>
</form>
</center>
</body>
</html> 