<html>
<head><title></title></head>
<body>
<center>
<form action="registration" method="post">
<table>
<h1>Registration Form</h1>
<tr>
	<td><font color="Red">Name:</font><input type="text" name="r1"></td>
</tr>
<tr>
	<td><font color="Red">Username:</font><input type="text" name="r2"></td>
</tr>
<tr>
	<td><font color="Red">Password:</font><input type="password" name="r3"></td>
</tr>
<tr>
	<td><font color="Red">Email:</font><input type="text" name="r4"></td>
</tr>
<tr>
	<td><font color="Red">Mob No:</font><input type="text" name="r5"></td>
</tr>
<tr>
	<td><a href="login"><button type="button" value="login">Submit</button></a></td><br>
</tr>
</table>
</form>
</center>
</body>
</html> 